.pic {
  width: 750px;
  height: 700px;
}

.sign-in {
  position: absolute;
  top: 400px;
  right: 0;
  width: 500px;
  height: 100px;
}

.sign-up {
  position: absolute;
  top: 330px;
  right: 0;
  width: 500px;
  height: 80px;
}

p.Chittering {
  position: absolute;
  right: 0;
  left: 800px;
  top: 200px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  width: 350px;
  color: #87CEFA;
}

input {
  color: white;
  padding: 5px 10px;
  background-color: #87CEFA;
  border: 2px solid white;
  border-radius: 10px;
}
