<!DOCTYPE html>
<html>
 <head>
  <title>Chitter</title>
  <link rel="stylesheet" href="/css/home.css">
  <img class="pic" src="./home.png">
 </head>
 <body>
   <p class="Chittering"> See what's everyone
     Chittering about today? </p>
   <form action="/users" method="get">
     <div class="sign-up">
       <p>Join Chitter today</p>
      <input type="submit" value="Sign up">
      </div>
   </form>
   <form action="/sessions/new" method="get">
     <div class="sign-in">
       <p>Sign in</p>
      <input type="submit" value="Sign in"/>
      </div>
   </form>
 </body>
</html>
